/*Global styles*/

html{
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Advent Pro', sans-serif;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
p {
    font-size: 2rem;
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
section {
    padding: 3rem 0;
}

body {
    background-color: white;
}

/*Header*/
header {
    width: 100%;
    height: 5rem;
    /*
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;*/
}
.container {
    width: 100%;
    max-width: 98rem;
    margin: 0 auto; /*centers in middle*/
    padding: 0 1rem;
}

.menu-icon { /*need to center the image*/
    margin: 0 auto;
    width: 5%;
}

.nav-group {
    width: 100%;
    transition: all 650ms ease-in-out;
    position: fixed;
    top: -10rem; /*set to neg value to hide */
    left: 0;
}
.nav-group.active {
    top: 0;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; /*not exactly centered, where does it start counting*/
}

.nav-list {
    padding: 3.5rem;
    width: 100%;
    height: 10rem; /*15 of viewport height, gets messed up if you inspect*/
    background-color: #414857; /*don't know what color yet*/
    /*how to get columns*/
    column-count: 3;
    z-index:500;
}

.nav-item {
    list-style: none;
    text-align: center;
}

.nav-link {
    font-size: 2rem;
    color: white;
}

/*home*/
.home {
    width: 65%;
    margin: 0 auto;
    padding: 2rem 8rem;
    font-weight: 600;
    color: white;
    text-shadow: 0px 3px 2px #002C54;
    background: rgba(4, 15, 34, 0.57);
    border-radius: 10px;
}
.home > h1{
    font-size: 5rem;
}
.home > p{
    font-size: 3rem;
}

/*project formatting*/
.projects {
    margin: 3rem 0;
    width: 100%;
    height: auto; /*change later to make more responsive*/
    /*background-image: url("images/leafpattern.png");
    background-color: #618396;
    background-blend-mode: color;
    background-color: lightblue;*/
    font-family: 'Amiko', sans-serif;
}

.section-title > h2 {
    color: white;
    text-shadow: -3px -2px 0px #203C56;
    font-size: 3rem;
    position: relative;
    top: -1.5rem;
    
}
.section-title {
    padding: 0 1.5rem;
    margin: 2rem 0;
    height: 3rem;
    width: intrinsic;           /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
    background: rgba(4, 15, 34, 0.76);
}

.gallery {
    display: flex;
    justify-content: space-evenly;
}
.gallery-item {
    width: 28rem;
    height: 30rem;
    background: white;
    border-radius: 3rem;
    border: 5px solid #002C54;
}
div.gallery-item:hover {
    border: 4px solid #BDDAEB;
}

.gallery-item > p {
    text-align: center;
    font-size: 2rem;
    color: #002C54;
}

.columns {
    margin: 1rem;
}
.multiline {
    flex-wrap: wrap;
}
.desktop{
    width: 33.33%;
}

.mobile{

}

/*footer - this part is really jank... how do you format images properly??
 They aren't constrained by parent elems, and how do you center with a flexbox
 when it messes up other properties?*/
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.socials {
    width: 40%;
    padding: 0 10rem;
    height: 5rem;
    background: #414857;
    border-radius: 30px 30px 0 0;
}

.footer-list {
    column-count: 2;
    z-index:500;
    display: flex;
    justify-content: space-evenly;
}
.footer-item {
    list-style: none;
}
.footer-item > a > img {
    padding: .5rem 0;
    width: 4rem;
}
